/* 第一屏 */
.section1 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
  font-size: 1.5rem;
}

.section1 .circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 0.3);
  top: 3.5rem;
  left: 50%;
  margin-left: -8.5rem;
  /* transform: translateX(-50%); */
  opacity: 1;
  color: #fff;
}

.section1 .circle h5 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.section1 .circle h5:first-child {
  color: #daec56;
  font-size: 2.4rem;  
}

.section1 .circle h5:last-child {
  color: #FFFF01;
}

.section1 .document1 {
  width: 100%;
  /* background-color: red; */
  top: 55%;
  left: 0;
  color: #fff;
  line-height: 2.4rem;

  font-weight: 700;
}

.section1 .enjoy {
  color: #FFFF01;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: enjoyAnimation 1.5s linear 2s;
}

/* 邀您品鉴动画 */
@keyframes enjoyAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 第二屏 */
.section2 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
}

.section2 .title {
  top: 5rem;
  /* left: -25%; */
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 800;
  color: #daec56;
  /* transition: left 0.5s linear; */
}

/* .section2 .title.animation { */
  /* animation: titleAnimation 1s linear; */
  /* left: 50%; */
/* } */

.section2 .document2 {
  top: 150px;
  /* left: 20px;  */
  /* left: -460px;  */
  text-align: left;
  margin-right: 1rem;
  line-height: 2.2rem;
}

.section2 .document2 li {
  margin-bottom: 1rem;
}

.section2 i {
  color: #FFFF01;
  font-size: 2rem;
}

/* 第三屏 */
.section3 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
}

.section3 .title {
  width: 100%;
  top: 5rem;
  /* left: -27%; */
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 800;
  color: #daec56;
}

.section3 .document3 {
  top: 150px;
  /* left: -460px; */
  text-align: left;
  margin-right: 1rem;
  line-height: 2.2rem;
  transform: all 1s;
}

.section3 .document3 li span > span {
  color: #FFFF01;
}

.section3 .document3 li {
  margin-bottom: 1rem;
}

.section3 i {
  color: #FFFF01;
  font-size: 2rem;
}

/* 第四屏 */
.section4 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.5rem;
}

.section4 .title {
  width: 100%;
  top: 5rem;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 800;
  color: #daec56;
}
.section4 .document4 {
  top: 150px;
  text-align: left;
  margin-right: 1rem;
  line-height: 2.2rem;
  transform: all 1s;
}

.section4 .document4 li {
  margin-bottom: 1rem;
}

.section4 i {
  color: #FFFF01;
  font-size: 2rem;
}

/* 第五屏 */
.section5 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form1 {
  width: 100%;
  top: 5rem;
  left: 1rem;
}

.section5 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/* 第六屏 */
.section6 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form2 {
  /* width: 100%; */
  top: 5rem;
  left: 1rem;
}

.section6 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/* 第七屏 */
.section7 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form3 {
  /* width: 100%; */
  top: 5rem;
  left: 0.4rem;
}

.section7 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/* 第八屏 */

.section8 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form4 {
  /* width: 100%; */
  top: 5rem;
  left: 0;
}

.section8 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/* 第九屏 */
.section9 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form5 {
  /* width: 100%; */
  top: 5rem;
  left: 0.5rem;
}

.section9 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

/* 第十屏 */
.section10 {
  background: url("../img/bg6.jpg") no-repeat bottom;
  background-size: cover;
}

#form6 {
  /* width: 100%; */
  top: 5rem;
  left: 0;
}

.section10 h4 {
  width: 100%;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
